<h1><i class="fa fa-calendar" aria-hidden="true">&nbsp;</i>Sessions Zenika</h1>

<div *ngFor="let item of sessions" class="session" [ngClass]="{'to-fade-out': isToFadeOut }">
    <div class="session-location">
      <p>{{item.agenda.hour.label}} - TODO</p>
    </div>
  <div *ngFor="let speaker of item.speakers, #last=last" class="speaker">
    <span class="user-name">{{speaker.firstname}} {{speaker.name}}</span>
    <span *ngIf="!last"> &&nbsp;</span>
  </div>
    <div class="session-content">
      <p>{{item.session.name}}</p>
    </div>
</div>